{% extends "base.html" %}

{% block content %}
<h1 class="mt-2">Stats</h1>
<ul class="list-group">
    <li class="list-group-item">Number of Mountains Hiked: {{ name.name__count }}</li>
    <li class="list-group-item">Total Time Spent Hiking: {{ time.time__sum }} hours</li>
    <li class="list-group-item">Total Distance Traveled Hiking: {{ distance.distance__sum }} miles</li>
    <li class="list-group-item">Total Elevation Gain: {{ elevation.elevation__sum }} feet</li>
</ul>
<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArv155Hucp5AVDGXtyyW8tVeL009wvkNU&callback=initMap"
type="text/javascript"></script>
<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        var uluru = {lat: -25.344, lng: 131.036};
        // The map, centered at Uluru
        var map = new google.maps.Map(document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});
    }
</script>
{% endblock %}