{% extends "base.html" %}

{% block content %}
    <h2>Hiking Detail</h2>
    <ul>
        <li>Mountain: {{ object.name }}</li>
        <li>Distance Traveled: {{ object.distance }}</li>
        <li>Total Time: {{ object.time }} /li>
        <li>Date of Hike: {{ object.date }}</li>
        <li>Group Size: {{ object.group_size}}</li>
        <li>State: {{ object.state }}</li>
    </ul>
    <a href="https://maps.google.com/?q={{object.name}}" target="_blank">View {{object.name}} on Google Maps</a>

{% endblock %}